In [3]:
import pandas as pd
import os
from os.path import dirname

## Load Data Sets

In [9]:
# Point toward data directory
data_directory = dirname(os.getcwd()) + '\\data\\raw'

# Read CSVs
temp_df = pd.read_csv(data_directory + '\\hr_temp_20170201-20200131_subset.csv')
energy_df = pd.read_csv(data_directory + '\\hrl_load_metered - 20170201-20200131.csv')

## View Data Sets

In [18]:
display(temp_df.head())
display(energy_df.head())

,STATION,DATE,REPORT_TYPE,SOURCE,HourlyDryBulbTemperature
0,72520514762,2017-02-01T00:53:00,FM-15,7,37.0
1,72520514762,2017-02-01T01:53:00,FM-15,7,37.0
2,72520514762,2017-02-01T02:53:00,FM-15,7,36.0
3,72520514762,2017-02-01T03:53:00,FM-15,7,36.0
4,72520514762,2017-02-01T04:53:00,FM-15,7,36.0

,datetime_beginning_utc,datetime_beginning_ept,nerc_region,mkt_region,zone,load_area,mw,is_verified
0,2/1/2017 5:00,2/1/2017 0:00,RFC,WEST,DUQ,DUQ,1419.881,True
1,2/1/2017 6:00,2/1/2017 1:00,RFC,WEST,DUQ,DUQ,1379.505,True
2,2/1/2017 7:00,2/1/2017 2:00,RFC,WEST,DUQ,DUQ,1366.106,True
3,2/1/2017 8:00,2/1/2017 3:00,RFC,WEST,DUQ,DUQ,1364.453,True
4,2/1/2017 9:00,2/1/2017 4:00,RFC,WEST,DUQ,DUQ,1391.265,True

In [22]:
#Subsetting to columns we need
temp_df = temp_df[['DATE','HourlyDryBulbTemperature']].rename(columns = {'HourlyDryBulbTemperature':'temp','DATE':'date'})
energy_df = energy_df[['datetime_beginning_ept','mw']]

In [27]:

#Converting date columns 
temp_df['date'] = pd.to_datetime(temp_df['date'])
energy_df['datetime_beginning_ept'] = pd.to_datetime(energy_df['datetime_beginning_ept'])

#Sorting Values based on date 
temp_df = temp_df.sort_values(by = 'date')
energy_df = energy_df.sort_values(by = 'datetime_beginning_ept')

In [31]:
# Merge data sets on index now that they are sorted by date
master_df = temp_df.merge(energy_df, left_index = True, right_index = True, how = 'inner').drop(columns = ['datetime_beginning_ept'])

# Impute missing temp data
master_df['temp'] = master_df['temp'].interpolate(method = 'linear')

In [42]:
# Creating time based columns
master_df['hour'] = master_df.date.dt.hour
master_df['weekday'] = master_df.date.dt.weekday
master_df['month'] = master_df.date.dt.month
master_df['year'] = master_df.date.dt.year

#Creating Datetime as index
master_df = master_df.set_index('date')

In [44]:
#Splitting into train and test
test_df = master_df[master_df.index >= '2020-01-01']
train_df = master_df[master_df.index < '2020-01-01']